<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Library Managment System</title>
	<link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{css/index.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>


<body>
	<nav th:fragment="header">
		<div class="row justify-content-between align-items-center nav-bg">
			<!--Logo Section!-->
			<div class="col-md-4">
				<div class="logo">
					<a th:href="@{/}">
						<p>Library</p>
						<p>Management</p>
						<p>System</p>
					</a>
				</div>
			</div>
			<!--Add Section!-->
			<div class="col-md-4">
				<div class="d-flex justify-content-center">
					<a th:href="@{/books}" class="btn btn-width" style="margin-left: 10px;">Books</a>
					<a th:href="@{/ebooks}" class="btn btn-width" style="margin-left: 10px;">EBooks</a>
					<a th:href="@{/addBook}" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-width " style="margin-left: 10px;">AddBook</a>
					<a th:href="@{/myBookList}" sec:authorize="hasRole('ROLE_USER')" class="btn btn-width " style="margin-left: 10px;">MyBooks</a>
				</div>
			</div>
			<form th:action="@{/logout}" method="post"
				class="col-md-4   my-3">
				<div class="d-flex justify-content-center">
					<a th:href="@{/addCategory}" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-width" style="margin-left: 10px;">
						Category
					</a>
					<a th:href="@{/register}" class="btn btn-width" style="margin-left: 10px;">Register</a>
					<a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="btn btn-width" style="margin-left: 10px;">Login</a>

					<input sec:authorize="isAuthenticated()" type="submit" value="Logout" class="btn btn-width" style="margin-left: 10px;" />

				</div>
			</form>
		</div>
	</nav>
	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{js/popper.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
</body>

</html>