<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>LBMS Login</title>
	<link rel="stylesheet" th:href="@{css/login.css}" />
</head>

<body>
	<div class="container">
		<div class="form" id="login">
			<h2 class="form__title">Login</h2>
			<!--Error Message!-->
			<div th:if="${param.error}">
				<div class="danger">Invalid Username or Password!</div>
			</div>
			<div th:if="${param.logout}">
				<div class="success">You have been logged out!</div>
			</div>
			<form th:action="@{/login}" method="post">
				<div class="form__input-group">
					<input type="text" name="username" class="form__input" autofocus placeholder="Enter username"
						id="usernameInput" required/>
					<div class="padding"></div>
				</div>
				<div class="form__input-group">
					<input type="password" name="password" class="form__input" autofocus placeholder="Enter password"
						id="passwordInput" required/>
					<div class="padding"></div>
					<div class="padding"></div>
					<input class="form__button mt-5" type="submit" value="Login" id="loginButton" />
					<div class="padding"></div>
					<div class="padding"></div>
					<div class="go_home">
						<a  th:href="@{/}">Go Home</a>
					</div>
					
				</div>
			</form>
		</div>
	</div>
</body>

</html>