<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Library Register</title>
	<link rel="stylesheet" th:href="@{css/register.css}" />
</head>

<body>
	<div class="container">
		<div class="form" id="login">
			<h2 class="form__title">Register</h2>
			<div th:if="${param.success}">
				<div class="reg">
					Registration successful !!!
				</div>
			</div>
			<form th:action="@{/register}" method="post" th:object="${user}">
				<input type="hidden" th:field="*{id}" />
				<div class="form__input-group">
					<input type="text" class="form__input" autofocus placeholder="Enter username" id="usernameInput"
						name="username" th:field="*{name}" />
					<div class="padding"><span class="text-danger" th:errors="*{name}"
							th:if="${#fields.hasErrors('name')}"></span></div>
				</div>


				<div class="form__input-group">
					<input type="text" class="form__input" autofocus placeholder="Enter email" id="emailInput"
						name="email" th:field="*{email}" />
					<div class="padding"><span class="text-danger" th:errors="*{email}"
							th:if="${#fields.hasErrors('email')}"></span></div>
					<div class="padding" th:if="${email_custom}">
						<span class="text-danger" th:text="${email_custom}"></span>
					</div>
				</div>

				<div class="form__input-group">
					<input type="password" class="form__input" autofocus placeholder="Enter password" id="passwordInput"
						name="password" th:field="*{password}" />
					<div class="padding"><span class="text-danger" th:errors="*{password}"
							th:if="${#fields.hasErrors('password')}"></span></div>
				</div>

				<div class="form__input-group">
					<input type="tel" class="form__input" autofocus placeholder="Enter phone no" id="phoneInput"
						name="phone" th:field="*{phoneNo}" />
					<div class="padding"><span class="text-danger" th:errors="*{phoneNo}"
							th:if="${#fields.hasErrors('phoneNo')}"></span></div>
					<input class="form__button a mt-5" type="submit" value="Register" id="registerButton" />

					<div class="padding"></div>
					<div class="go_home">
						<a th:href="@{/}">Go Home</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>