<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jp.library.repository.MyBookRepository">
	<resultMap type="com.jp.library.entity.MyBookList"
		id="mybook">
		<result column="bookid" property="bookId"></result>
		<result column="userid" property="userId" />
	</resultMap>
	<!-- Insert a new record into mybookList
	INSERT INTO mybookList (bookId, userId)
		VALUES (#{bookId}, #{userId}) -->
	<insert id="addToMyBookList" parameterType="java.util.Map">
		INSERT INTO mybookList (bookId)
		VALUES (#{bookId})
	</insert>

	<!-- Retrieve a list of books for a specific user -->
	<select id="getBooksForUser" parameterType="java.lang.Long"
		resultType="java.util.Map">
		SELECT book_id as bookId, book_name as bookName, book_author as bookAuthor
		FROM book
		WHERE book_id IN (SELECT bookId FROM mybookList WHERE userId = #{userId})
	</select>

	<!-- Other SQL queries and mappings can be defined here -->

</mapper>